body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 80vh;
  width: 80vw;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-popup-content {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.leaflet-popup-content a {
  color: #337ab7;
  text-decoration: none;
}

.leaflet-popup-content a:hover {
  color: #23527c;
}